*{
	margin: 0px;
	padding: 0px;
}
body
{
	-webkit-box-pack: center;
	background: #dfe3ee ;
	
}
#top{
	width: 1400px;
	height: 43px;
	-webkit-box-flex: 1;
	background : #3b5998;
	

	
}
h1
{
	text-align: center;
	font-family: Tahoma;
 padding: 6px;
	color: white;
	border-bottom : 1px solid #3b5998;
}
#body{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#input{
	 border: 10px solid #dfe3ee;
	width: 500px;
	height: 400px;
	background-color : #ffffff;
}
h3
{
	border-bottom : 1px solid #3b5998;
	text-align: center;
	font-family: Tahoma;
 padding: 6px;
	color: #3b5998;
}
#img{
	 border: 10px solid #dfe3ee;
	width: 300px;
	height: 200px;
	background-color : #ffffff;
	
}

#output{
	border: 10px solid #dfe3ee;
	width: 500px;
	height: 400px;
	background-color : #ffffff;
}


img{
position: absolute;
top: 55px;
left: 530px;
}
.submit {
	background-color: #00CCFF;
	border: 1px solid black;
	height: 40px;
	width: 200px;
	color: white;
	font: bold 14px tahoma;
	padding : 10px 10px;
	
}
.input
{
	width : 250px;
	height : 30px;
	
}
#db-results{
	 max-height: 150px;
              overflow: auto;
              text-align: left;
}
h4
{
	text-align: center;
	font-family: Tahoma;
 padding: 6px;
	color: red;
	
}
#footer{
	font: bold 8px tahoma;
	text-align: center;
	padding: 20px;
	border: 3px solid #3b5998;
	background-color : #3b5998;
}
li{
	font-family: Tahoma;
 padding: 6px;
	color: red;
	
}
#below{
	width: 1400px;
	height: 500px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
	
}
#refer{
	width: 1000px;
	height: 500px;
	background-color: #f7f7f7;
	
}
#apps{
	border-left: 5px solid #dfe3ee ;
	background-color: #f7f7f7;
		width: 400px;
	height: 500px;

	
}
h2{
	text-align :center;
	font-family: Tahoma;
 padding: 6px;
	color: red;
	border-bottom : 1px solid #3b5998;
	
}
#list{
	padding: 20px;
}
#space{
	padding: 200px;
}
* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}